
// Body
$body-background-color: whitesmoke;
    //this needs to be changed from $body-bg to $body-background because $body-bg is for bootstrap.

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
